.signupParentDiv {
    border: 1px solid black;
    width: max-content;
    padding: 5.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: wheat;
    font-weight: 900;
    border-radius: 20px;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .lables{
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-style: italic;
  }
  .Logins{
      text-decoration: none;
      font-weight: 900;
      color: wheat;
      margin-top: 20px;
      border: 10px solid whitesmoke;
      border-radius: 20px;
      font-style: italic;
      padding: 5px;
  }
  .Logins:hover{
    background-color:green;
    color: azure;
  }